.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index:999;
  background:linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
  transition: all 0.6s ease-in-out;

  &.scrolled{
      background-color:var(--main-color);
  }

  .container {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 25px;
        margin-right: 40px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover{
            transform:scaleY(1.5);
        }
      }

      span {
        margin-right: 20px;
        cursor: pointer;
        transition: all 180ms ease-out;

        &:hover{
            font-size: 20px;
            font-weight: bold;
        }

      }
    }

    .right {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .icon {
        margin: 0 15px;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 12px;
          cursor: pointer;

          &:hover {
            background-color: rgb(32, 30, 30);
          }
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
